@import "tailwindcss";

body {
  background-color: black;
  color: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

@keyframes fade {
  from {
    margin-top: 30px;
    color: red;
    opacity: 0;
  }
  to {
    opacity: 100;
    color: green;
  }
}
.title-h2 {
  animation: fade 1s ease-in-out;
}
